$font: 'Inter', sans-serif;
$layout-bg: #170f23;
$primary-color: #34224f;
$black-color: #111;
$white-color: #fff;
$text-placeholder: #dadada;
$link-hover: #c273ed;
$navigation-color: #dadada;
$orange-color: #ffdb00;
$player-color: #130c1c;
$violet-color: #9b4de0;
$bg-light: hsla(0deg, 0%, 100%, 0.05);
$hover-icon: hsla(0, 0%, 100%, .1);
$alpha-bg: hsla(0, 0%, 100%, 0.1);
$border-player: hsla(0, 0%, 100%, 0.1);
$text-secondary: hsla(0, 0%, 100%, 0.5);
$siderbar-bg: hsla(0, 0%, 100%, 0.05);